<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Form</title>

  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
  <script src="/libs/jquery/dist/jquery.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/angular/angular.js"></script>
  <!--app -->
  <script src="/index.js"></script>

</head>
<body ng-controller="RegCtrl as regCtrl">

  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <form name="regForm" novalidate>

          <h2>Feedback Form</h2>

          <div class="form-group row"
               ng-class="{ 'has-error' : regForm.name.$invalid && regForm.name.$dirty, 'has-success' : !regForm.name.$invalid }">
            <label for="name" class="col-md-2">Name:</label>
            <div class="col-md-8">
              <input type="text" name="name" id="name" class="form-control" required
                      ng-model="regCtrl.name">
              <span class="help-block" 
                    ng-if="regForm.name.$invalid && regForm.name.$dirty">Please provide a valid name.</span>
            </div>
          </div>

          <div class="form-group row"
                ng-class="{ 'has-error' : regForm.email.$invalid && regForm.email.$dirty, 'has-success' : !regForm.email.$invalid }">
            <label for="email" class="col-md-2">Email:</label>
            <div class="col-md-8">
              <input type="email" name="email" id="email" class="form-control" required
                      ng-model="regCtrl.email">
              <span ng-if="regForm.email.$invalid && regForm.email.$dirty">Please provide a valid email.</span>
            </div>
          </div>

          <div class="form-group row"
                ng-class="{ 'has-error' : regForm.phone.$invalid && regForm.phone.$dirty, 'has-success' : !regForm.phone.$invalid }">
            <label for="phone" class="col-md-2">Phone:</label>
            <div class="col-md-8">
              <input type="tel" name="phone" id="phone" class="form-control" required
                      ng-model="regCtrl.phone">
              <span ng-if="regForm.phone.$invalid && regForm.phone.$dirty">Please provide a valid phone.</span>
            </div>
          </div>

          <div class="form-group row"
                ng-class="{ 'has-error': regForm.comment.$invalid && regForm.comment.$dirty, 'has-success' : !regForm.comment.$invalid }">
            <label for="comment" class="col-md-2">Comment:</label>
            <div class="col-md-8">
              <textarea name="comment" id="comment" cols="80" rows="10" required
                        ng-model="regCtrl.comment" class="form-control">
              </textarea>
              <span ng-if="regForm.comment.$invalid && regForm.comment.$dirty">Please provide a valid comment.</span>
            </div>
          </div>
          
          <div class="form-group row"
                ng-class="{ 'has-error': regForm.exp.$invalid }">
            <label for="experience" class="col-md-2">My Experience:</label>
            <div class="col-md-8">
              <input type="radio" name="experience" id="experience" value="good"
                      ng-model="regCtrl.exp" required> Good</br> 
              <input type="radio" name="experience" id="experience" value="neutral"
                      ng-model="regCtrl.exp" required> Neutral</br> 
              <input type="radio" name="experience" id="experience" value="bad"
                      ng-model="regCtrl.exp" required> Bad</br> 
            </div>
          </div>

          </br>
          <button type="button" class="btn btn-danger" ng-click="regCtrl.clearForm()">Clear</button>
          <button type="submit" class="btn btn-success" ng-click="regCtrl.submitForm()" ng-disabled="regForm.$invalid">Submit</button>

          <!--- test -->
          </br>
          Form is invalid is {{ regForm.$invalid }}

        </form>
      </div>
    </div>
  </div><!--container -->



</body>
</html>